<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemons:</p>
<p><% @trainer.pokemons.each do |pokemon| %>
	<%= button_to "Damage!", damage_path(id: pokemon), :class => "button small", :method => :patch %>
	<p><%= pokemon.name %></p>
	<p>level: <%= pokemon.level %></p>
	<p>health: <%= pokemon.health %></p>
<% end %>
<td><%= link_to "create new pokemon", '/pokemon/new' if @trainer == current_trainer%></td>

